<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Horizon" Language="1033" Version="0.3.2" Manufacturer="The Parable Group" UpgradeCode="f629909a-bc3c-4e54-a352-c3fcd75c44f6">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir" />
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder" Name="Desktop">
        <Component Id="ApplicationShortcutDesktop">
          <Shortcut Id="ApplicationDesktopShortcut"
              Name="Horizon"
              Description="Combination IDE and launcher suite."
              Target="[INSTALLFOLDER]Horizon.exe"
              WorkingDirectory="TARGETDIR" />
          <RemoveFolder Id="DesktopFolder" On="uninstall" />
          <RegistryValue
              Root="HKCU"
              Key="Software/MyAppName"
              Name="installed"
              Type="integer"
              Value="1"
              KeyPath="yes" />
        </Component>
      </Directory>
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Horizon">
          <Directory Id="XLDEFolder" Name="de" />
          <Directory Id="XLENFolder" Name="en" />
          <Directory Id="XLESFolder" Name="es" />
          <Directory Id="XLFRFolder" Name="fr" />
          <Directory Id="XLHUFolder" Name="hu" />
          <Directory Id="XLITFolder" Name="it" />
          <Directory Id="XLJAFolder" Name="ja" />
          <Directory Id="XLKOFolder" Name="ko" />
          <Directory Id="XLPTBRFolder" Name="pt-BR" />
          <Directory Id="XLROFolder" Name="ro" />
          <Directory Id="XLRUFolder" Name="ru" />
          <Directory Id="XLSVFolder" Name="sv" />
          <Directory Id="XLZHHANSFolder" Name="zh-HANS" />
          <Directory Id="XLZHHANTFolder" Name="zh-HANT" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Horizon" />
      </Directory>
    </Directory>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="Horizon.exe">
        <File Id="Horizon.exe" Source="Source\Horizon.exe" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="Horizon" Description="Horizon IDE" Target="[#Horizon.exe]" WorkingDirectory="INSTALLFOLDER" />
        <Shortcut Id="UninstallProduct" Name="Uninstall Horizon" Target="[SystemFolder]msiexec.exe" Arguments="/x [ProductCode]" Description="Uninstalls Horizon IDE." />
        <RemoveFolder Id="CleanupShortcut" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\TheParableGroup\Horizon" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id="Complete" Title="Horizon" Display="expand" Level="1" ConfigurableDirectory="INSTALLFOLDER">
      <Feature Id="ProductFeature" Title="Horizon" Level="1">
        <ComponentGroupRef Id="ProductComponents" />
        <ComponentGroupRef Id="LocalizationComponents" />
        <ComponentRef Id="ApplicationShortcut" />
        <ComponentRef Id="ApplicationShortcutDesktop" />
        <ComponentRef Id="Horizon.exe" />
      </Feature>
    </Feature>
  </Product>

  <Fragment>
    <Icon Id="Horizon.ico" SourceFile="Horizon.ico" />
    <Property Id="ARPPRODUCTICON" Value="Horizon.ico" />
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">

      <Component Id="HorizonExeConfig">
        <File Id="HorizonExeConfigFile" Name="Horizon.exe.config" Source="Source\Horizon.exe.config" KeyPath="yes" />
      </Component>
      <Component Id="HorizonExePdb">
        <File Id="HorizonExePdbFile" Name="Horizon.pdb" Source="Source\Horizon.pdb" KeyPath="yes" />
      </Component>
      <Component Id="Log4NetConfig">
        <File Id="Log4NetConfigFile" Name="log4net.config" Source="Source\log4net.config" KeyPath="yes" />
      </Component>
      <Component Id="Log4NetDll">
        <File Id="Log4NetDllFile" Name="log4net.dll" Source="Source\log4net.dll" KeyPath="yes" />
      </Component>
      <Component Id="Log4NetXml">
        <File Id="Log4NetXmlFile" Name="log4net.xml" Source="Source\log4net.xml" KeyPath="yes" />
      </Component>
      <Component Id="MethodBoundaryAspectDll">
        <File Id="MethodBoundaryAspectDllFile" Name="MethodBoundaryAspect.dll" Source="Source\MethodBoundaryAspect.dll" KeyPath="yes" />
      </Component>
      <Component Id="FluentValidationDll">
        <File Id="FluentValidationDllFile" Name="FluentValidation.dll" Source="Source\FluentValidation.dll" KeyPath="yes" />
      </Component>
      <Component Id="FluentValidationXml">
        <File Id="FluentValidationXmlFile" Name="FluentValidation.xml" Source="Source\FluentValidation.xml" KeyPath="yes" />
      </Component>
      <Component Id="FontAwesomeDll">
        <File Id="FontAwesomeDllFile" Name="FontAwesome.WPF.dll" Source="Source\FontAwesome.WPF.dll" KeyPath="yes" />
      </Component>
      <Component Id="FontAwesomeXml">
        <File Id="FontAwesomeXmlFile" Name="FontAwesome.WPF.xml" Source="Source\FontAwesome.WPF.xml" KeyPath="yes" />
      </Component>
      <Component Id="FontAwesome5Dll">
        <File Id="FontAwesome5DllFile" Name="FontAwesome5.dll" Source="Source\FontAwesome5.dll" KeyPath="yes" />
      </Component>
      <Component Id="FontAwesome5Xml">
        <File Id="FontAwesome5XmlFile" Name="FontAwesome5.xml" Source="Source\FontAwesome5.xml" KeyPath="yes" />
      </Component>
      <Component Id="FontAwesome5Net40Dll">
        <File Id="FontAwesome5Net40DllFile" Name="FontAwesome5.Net40.dll" Source="Source\FontAwesome5.Net40.dll" KeyPath="yes" />
      </Component>
      <Component Id="FontAwesome5Net40Xml">
        <File Id="FontAwesome5Net40XmlFile" Name="FontAwesome5.Net40.xml" Source="Source\FontAwesome5.Net40.xml" KeyPath="yes" />
      </Component>
      <Component Id="AvalonEditDll">
        <File Id="AvalonEditDllFile" Name="ICSharpCode.AvalonEdit.dll" Source="Source\ICSharpCode.AvalonEdit.dll" KeyPath="yes" />
      </Component>
      <Component Id="AvalonEditXml">
        <File Id="AvalonEditXmlFile" Name="ICSharpCode.AvalonEdit.xml" Source="Source\ICSharpCode.AvalonEdit.xml" KeyPath="yes" />
      </Component>
      <Component Id="WindowsAPICodePackDll">
        <File Id="WindowsAPICodePackDllFile" Name="Microsoft.WindowsAPICodePack.dll" Source="Source\Microsoft.WindowsAPICodePack.dll" KeyPath="yes" />
      </Component>
      <Component Id="WindowsAPICodePackXml">
        <File Id="WindowsAPICodePackXmlFile" Name="Microsoft.WindowsAPICodePack.xml" Source="Source\Microsoft.WindowsAPICodePack.xml" KeyPath="yes" />
      </Component>
      <Component Id="WindowsAPICodePackShellDll">
        <File Id="WindowsAPICodePackShellDllFile" Name="Microsoft.WindowsAPICodePack.Shell.dll" Source="Source\Microsoft.WindowsAPICodePack.Shell.dll" KeyPath="yes" />
      </Component>
      <Component Id="WindowsAPICodePackShellXml">
        <File Id="WindowsAPICodePackShellXmlFile" Name="Microsoft.WindowsAPICodePack.Shell.xml" Source="Source\Microsoft.WindowsAPICodePack.Shell.xml" KeyPath="yes" />
      </Component>
      <Component Id="NewtonsoftJsonDll">
        <File Id="NewtonsoftJsonDllFile" Name="Newtonsoft.Json.dll" Source="Source\Newtonsoft.Json.dll" KeyPath="yes" />
      </Component>
      <Component Id="NewtonsoftJsonXml">
        <File Id="NewtonsoftJsonXmlFile" Name="Newtonsoft.Json.xml" Source="Source\Newtonsoft.Json.xml" KeyPath="yes" />
      </Component>
      <Component Id="SystemComponentModelAnnotationsDll">
        <File Id="SystemComponentModelAnnotationsDllFile" Name="System.ComponentModel.Annotations.dll" Source="Source\System.ComponentModel.Annotations.dll" KeyPath="yes" />
      </Component>
      <Component Id="AvalonDockDll">
        <File Id="AvalonDockDllFile" Name="Xceed.Wpf.AvalonDock.dll" Source="Source\Xceed.Wpf.AvalonDock.dll" KeyPath="yes" />
      </Component>
      <Component Id="AvalonDockThemesAeroDll">
        <File Id="AvalonDockThemesAeroDllFile" Name="Xceed.Wpf.AvalonDock.Themes.Aero.dll" Source="Source\Xceed.Wpf.AvalonDock.Themes.Aero.dll" KeyPath="yes" />
      </Component>
      <Component Id="AvalonDockThemesMetroDll">
        <File Id="AvalonDockThemesMetroDllFile" Name="Xceed.Wpf.AvalonDock.Themes.Metro.dll" Source="Source\Xceed.Wpf.AvalonDock.Themes.Metro.dll" KeyPath="yes" />
      </Component>
      <Component Id="AvalonDockThemesVS2010Dll">
        <File Id="AvalonDockThemesVS2010DllFile" Name="Xceed.Wpf.AvalonDock.Themes.VS2010.dll" Source="Source\Xceed.Wpf.AvalonDock.Themes.VS2010.dll" KeyPath="yes" />
      </Component>
      <Component Id="XceedWpfToolkitDll">
        <File Id="XceedWpfToolkitDllFile" Name="Xceed.Wpf.Toolkit.dll" Source="Source\Xceed.Wpf.Toolkit.dll" KeyPath="yes" />
      </Component>
      <Component Id="SystemWindowsInteractivityDll">
        <File Id="SystemWindowsInteractivityDllFile" Name="System.Windows.Interactivity.dll" Source="Source\System.Windows.Interactivity.dll" KeyPath="yes" />
      </Component>
      <Component Id="DynamicDataDll">
        <File Id="DynamicDataDllFile" Name="DynamicData.dll" Source="Source\DynamicData.dll" KeyPath="yes" />
      </Component>
      <Component Id="DynamicDataXml">
        <File Id="DynamicDataXmlFile" Name="DynamicData.xml" Source="Source\DynamicData.xml" KeyPath="yes" />
      </Component>
      <Component Id="MicrosoftReactiveTestingDll">
        <File Id="MicrosoftReactiveTestingDllFile" Name="Microsoft.Reactive.Testing.dll" Source="Source\Microsoft.Reactive.Testing.dll" KeyPath="yes" />
      </Component>
      <Component Id="MicrosoftReactiveTestingXml">
        <File Id="MicrosoftReactiveTestingXmlFile" Name="Microsoft.Reactive.Testing.xml" Source="Source\Microsoft.Reactive.Testing.xml" KeyPath="yes" />
      </Component>
      <Component Id="PharmacistCommonDll">
        <File Id="PharmacistCommonDllFile" Name="Pharmacist.Common.dll" Source="Source\Pharmacist.Common.dll" KeyPath="yes" />
      </Component>
      <Component Id="PharmacistCommonXml">
        <File Id="PharmacistCommonXmlFile" Name="Pharmacist.Common.xml" Source="Source\Pharmacist.Common.xml" KeyPath="yes" />
      </Component>
      <Component Id="ReactiveUIDll">
        <File Id="ReactiveUIDllFile" Name="ReactiveUI.dll" Source="Source\ReactiveUI.dll" KeyPath="yes" />
      </Component>
      <Component Id="ReactiveUIEventsDll">
        <File Id="ReactiveUIEventsDllFile" Name="ReactiveUI.Events.dll" Source="Source\ReactiveUI.Events.dll" KeyPath="yes" />
      </Component>
      <Component Id="ReactiveUIEventsWPFDll">
        <File Id="ReactiveUIEventsWPFDllFile" Name="ReactiveUI.Events.WPF.dll" Source="Source\ReactiveUI.Events.WPF.dll" KeyPath="yes" />
      </Component>
      <Component Id="ReactiveUIEventsWPFXml">
        <File Id="ReactiveUIEventsWPFXmlFile" Name="ReactiveUI.Events.WPF.xml" Source="Source\ReactiveUI.Events.WPF.xml" KeyPath="yes" />
      </Component>
      <Component Id="ReactiveUIEventsXml">
        <File Id="ReactiveUIEventsXmlFile" Name="ReactiveUI.Events.xml" Source="Source\ReactiveUI.Events.xml" KeyPath="yes" />
      </Component>
      <Component Id="ReactiveUIFodyHelpersDll">
        <File Id="ReactiveUIFodyHelpersDllFile" Name="ReactiveUI.Fody.Helpers.dll" Source="Source\ReactiveUI.Fody.Helpers.dll" KeyPath="yes" />
      </Component>
      <Component Id="ReactiveUIFodyHelpersXml">
        <File Id="ReactiveUIFodyHelpersXmlFile" Name="ReactiveUI.Fody.Helpers.xml" Source="Source\ReactiveUI.Fody.Helpers.xml" KeyPath="yes" />
      </Component>
      <Component Id="ReactiveUITestingDll">
        <File Id="ReactiveUITestingDllFile" Name="ReactiveUI.Testing.dll" Source="Source\ReactiveUI.Testing.dll" KeyPath="yes" />
      </Component>
      <Component Id="ReactiveUITestingXml">
        <File Id="ReactiveUITestingXmlFile" Name="ReactiveUI.Testing.xml" Source="Source\ReactiveUI.Testing.xml" KeyPath="yes" />
      </Component>
      <Component Id="ReactiveUIWPFDll">
        <File Id="ReactiveUIWPFDllFile" Name="ReactiveUI.WPF.dll" Source="Source\ReactiveUI.WPF.dll" KeyPath="yes" />
      </Component>
      <Component Id="ReactiveUIWPFXml">
        <File Id="ReactiveUIWPFXmlFile" Name="ReactiveUI.WPF.xml" Source="Source\ReactiveUI.WPF.xml" KeyPath="yes" />
      </Component>
      <Component Id="ReactiveUIXml">
        <File Id="ReactiveUIXmlFile" Name="ReactiveUI.xml" Source="Source\ReactiveUI.xml" KeyPath="yes" />
      </Component>
      <Component Id="SplatDll">
        <File Id="SplatDllFile" Name="Splat.dll" Source="Source\Splat.dll" KeyPath="yes" />
      </Component>
      <Component Id="SplatXml">
        <File Id="SplatXmlFile" Name="Splat.xml" Source="Source\Splat.xml" KeyPath="yes" />
      </Component>
      <Component Id="SplatDrawingDll">
        <File Id="SplatDrawingDllFile" Name="Splat.Drawing.dll" Source="Source\Splat.Drawing.dll" KeyPath="yes" />
      </Component>
      <Component Id="SplatDrawingXml">
        <File Id="SplatDrawingXmlFile" Name="Splat.Drawing.xml" Source="Source\Splat.Drawing.xml" KeyPath="yes" />
      </Component>
      <Component Id="SystemReactiveDll">
        <File Id="SystemReactiveDllFile" Name="System.Reactive.dll" Source="Source\System.Reactive.dll" KeyPath="yes" />
      </Component>
      <Component Id="SystemReactiveXml">
        <File Id="SystemReactiveXmlFile" Name="System.Reactive.xml" Source="Source\System.Reactive.xml" KeyPath="yes" />
      </Component>
      <Component Id="SystemRuntimeCompilerServicesUnsafeDll">
        <File Id="SystemRuntimeCompilerServicesUnsafeDllFile" Name="System.Runtime.CompilerServices.Unsafe.dll" Source="Source\System.Runtime.CompilerServices.Unsafe.dll" KeyPath="yes" />
      </Component>
      <Component Id="SystemRuntimeCompilerServicesUnsafeXml">
        <File Id="SystemRuntimeCompilerServicesUnsafeXmlFile" Name="System.Runtime.CompilerServices.Unsafe.xml" Source="Source\System.Runtime.CompilerServices.Unsafe.xml" KeyPath="yes" />
      </Component>
      <Component Id="SystemThreadingTasksExtensionsDll">
        <File Id="SystemThreadingTasksExtensionsDllFile" Name="System.Threading.Tasks.Extensions.dll" Source="Source\System.Threading.Tasks.Extensions.dll" KeyPath="yes" />
      </Component>
      <Component Id="SystemThreadingTasksExtensionsXml">
        <File Id="SystemThreadingTasksExtensionsXmlFile" Name="System.Threading.Tasks.Extensions.xml" Source="Source\System.Threading.Tasks.Extensions.xml" KeyPath="yes" />
      </Component>
      <Component Id="SystemValueTupleDll">
        <File Id="SystemValueTupleDllFile" Name="System.ValueTuple.dll" Source="Source\System.ValueTuple.dll" KeyPath="yes" />
      </Component>
      <Component Id="SystemValueTupleXml">
        <File Id="SystemValueTupleXmlFile" Name="System.ValueTuple.xml" Source="Source\System.ValueTuple.xml" KeyPath="yes" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="LocalizationComponents">
      <Component Id="XceedResourcesLocalizationDe" Directory="XLDEFolder">
        <File Id="XceedResourcesLocalizationDeFile" Source="Source\de\Xceed.Wpf.AvalonDock.resources.dll" KeyPath="yes" />
      </Component>
      <Component Id="XceedResourcesLocalizationEs" Directory="XLESFolder">
        <File Id="XceedResourcesLocalizationEsFile" Source="Source\es\Xceed.Wpf.AvalonDock.resources.dll" KeyPath="yes" />
      </Component>
      <Component Id="XceedResourcesLocalizationFr" Directory="XLFRFolder">
        <File Id="XceedResourcesLocalizationFrFile" Source="Source\fr\Xceed.Wpf.AvalonDock.resources.dll" KeyPath="yes" />
      </Component>
      <Component Id="XceedResourcesLocalizationHu" Directory="XLHUFolder">
        <File Id="XceedResourcesLocalizationHuFile" Source="Source\hu\Xceed.Wpf.AvalonDock.resources.dll" KeyPath="yes" />
      </Component>
      <Component Id="XceedResourcesLocalizationIt" Directory="XLITFolder">
        <File Id="XceedResourcesLocalizationItFile" Source="Source\it\Xceed.Wpf.AvalonDock.resources.dll" KeyPath="yes" />
      </Component>
      <Component Id="XceedResourcesLocalizationPt_BR" Directory="XLPTBRFolder">
        <File Id="XceedResourcesLocalizationPt_BRFile" Source="Source\pt-BR\Xceed.Wpf.AvalonDock.resources.dll" KeyPath="yes" />
      </Component>
      <Component Id="XceedResourcesLocalizationRo" Directory="XLROFolder">
        <File Id="XceedResourcesLocalizationRoFile" Source="Source\ro\Xceed.Wpf.AvalonDock.resources.dll" KeyPath="yes" />
      </Component>
      <Component Id="XceedResourcesLocalizationRu" Directory="XLRUFolder">
        <File Id="XceedResourcesLocalizationRuFile" Source="Source\ru\Xceed.Wpf.AvalonDock.resources.dll" KeyPath="yes" />
      </Component>
      <Component Id="XceedResourcesLocalizationSv" Directory="XLSVFolder">
        <File Id="XceedResourcesLocalizationSvFile" Source="Source\sv\Xceed.Wpf.AvalonDock.resources.dll" KeyPath="yes" />
      </Component>
      <Component Id="XceedResourcesLocalizationZh_Hans" Directory="XLZHHANSFolder">
        <File Id="XceedResourcesLocalizationZh_HansFile" Source="Source\zh-Hans\Xceed.Wpf.AvalonDock.resources.dll" KeyPath="yes" />
      </Component>

      <Component Id="InteractivityResourcesLocalizationDe" Directory="XLDEFolder">
        <File Id="InteractivityResourcesLocalizationDeFile" Source="Source\de\System.Windows.Interactivity.resources.dll" KeyPath="yes" />
      </Component>
      <Component Id="InteractivityResourcesLocalizationEn" Directory="XLENFolder">
        <File Id="InteractivityResourcesLocalizationEnFile" Source="Source\en\System.Windows.Interactivity.resources.dll" KeyPath="yes" />
      </Component>
      <Component Id="InteractivityResourcesLocalizationEs" Directory="XLESFolder">
        <File Id="InteractivityResourcesLocalizationEsFile" Source="Source\es\System.Windows.Interactivity.resources.dll" KeyPath="yes" />
      </Component>
      <Component Id="InteractivityResourcesLocalizationFr" Directory="XLFRFolder">
        <File Id="InteractivityResourcesLocalizationFrFile" Source="Source\fr\System.Windows.Interactivity.resources.dll" KeyPath="yes" />
      </Component>
      <Component Id="InteractivityResourcesLocalizationIt" Directory="XLITFolder">
        <File Id="InteractivityResourcesLocalizationItFile" Source="Source\it\System.Windows.Interactivity.resources.dll" KeyPath="yes" />
      </Component>
      <Component Id="InteractivityResourcesLocalizationJa" Directory="XLJAFolder">
        <File Id="InteractivityResourcesLocalizationJaFile" Source="Source\ja\System.Windows.Interactivity.resources.dll" KeyPath="yes" />
      </Component>
      <Component Id="InteractivityResourcesLocalizationKo" Directory="XLKOFolder">
        <File Id="InteractivityResourcesLocalizationKoFile" Source="Source\ko\System.Windows.Interactivity.resources.dll" KeyPath="yes" />
      </Component>
      <Component Id="InteractivityResourcesLocalizationRu" Directory="XLRUFolder">
        <File Id="InteractivityResourcesLocalizationRuFile" Source="Source\ru\System.Windows.Interactivity.resources.dll" KeyPath="yes" />
      </Component>
      <Component Id="InteractivityResourcesLocalizationZh_Hans" Directory="XLZHHANSFolder">
        <File Id="InteractivityResourcesLocalizationZh_HansFile" Source="Source\zh-Hans\System.Windows.Interactivity.resources.dll" KeyPath="yes" />
      </Component>
      <Component Id="InteractivityResourcesLocalizationZh_Hant" Directory="XLZHHANTFolder">
        <File Id="InteractivityResourcesLocalizationZh_HantFile" Source="Source\zh-Hant\System.Windows.Interactivity.resources.dll" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>