<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define Horizon_TargetDir=$(var.Horizon.TargetDir)?>
  <Product Id="*" Name="Horizon" Language="1033" Version="0.4.1" Manufacturer="The Headmaster" UpgradeCode="f629909a-bc3c-4e54-a352-c3fcd75c44f6">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir" />
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />

    <Feature Id="ProductFeature" Title="Horizon" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Horizon" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <!-- <Component Id="ProductComponent"> -->
      <!-- TODO: Insert files, registry keys, and other resources here. -->
      <!-- </Component> -->
      <Component Id="Horizon.exe" Guid="5638ecd8-7511-4a2b-ba61-bff23ce0e4b1">
        <File Id="Horizon.exe" Source="${var.Horizon_TargetDir)Horizon.exe" KeyPath="yes" />
      </Component>
      <Component Id="Horizon.dll" Guid="cb664875-9f61-43f4-b426-be7ed994555e">
        <File Id="Horizon.dll" Name="Horizon.dll" Source="$(var.Horizon_TargetDir)Horizon.dll" />
      </Component>
      <Component Id="Horizon.runtimeconfig.json" Guid="de085a7f-fe32-4005-a9fc-1cc684a70161">
        <File Id="Horizon.runtimeconfig.json" Name="Horizon.runtimeconfig.json" Source="$(var.Horizon_TargetDir)Horizon.runtimeconfig.json" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>